{% extends 'base.html.twig' %}

{% block body %}
<table>
	<tr>
		<th>photo</th>
	</tr>
	{% for pers in personne%}
	<tr>
        <td><img src="{{app.request.basepath}}/uploads/images/{{pers.TelechergeFichier}}" alt="monimg" height="100px"/></td>
	</tr>
	{% endfor %}
</table>
	
		
	
{% endblock %}
