{% extends 'base.html.twig' %}

{% block body %}
<table>
	<tr>
		<th>nom</th>
		<th>photo</th>
	</tr>
	{% for pers in personne%}
	<tr>
		<td>{{ pers.name}}</td>
        <td>{{ pers.telecherge_fichier}}</td>
	</tr>
	{% endfor %}
</table>
	
		
	
{% endblock %}
