
	{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.TelechergeFichier) }}
				{{ form_widget(form.TelechergeFichier) }}
			</div>
		
		<input type="submit" name="submit" value="enregistrer" class="btn btn-primary">

	{{ form_end(form) }}